body {
  font-family: "Overpass", sans-serif;
}

@media only screen and (max-width: 425px) {
  .intro {
    height: 100vh;
    width: 100%;
    background-image: url(../images/bg-pattern-intro-mobile.svg),
      linear-gradient(0deg, rgba(255, 61, 84, 1) 0%, rgba(255, 143, 112, 1) 80%);

    background-repeat: no-repeat;
    background-size: 1000px;
    background-position: 33% 23%;
    border-radius: 0 0 0 100px;
  }

  .navigation {
    padding: 45px 20px;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
  }

  .register {
    display: flex;
    justify-content: center;
  }

  .register a {
    text-decoration: none;
    display: block;
    height: 45px;
    width: 130px;
    border-radius: 40px;
    border: 1px solid white;
    color: white;
    text-align: center;
    font-size: 1em;
    line-height: 3;
    margin-left: 10px;
  }

  .introTxt {
    padding: 10px;
    margin-bottom: calc(10px + 25vh);
  }

  #left {
    background-color: white;
    color: #ff8f70;
  }

  .introTxt h1 {
    font-size: 2em;
    color: white;
    text-align: center;
    line-height: 1.3;
  }

  .introTxt h3 {
    font-size: 1em;
    font-weight: 300;
    color: white;
    text-align: center;
    line-height: 1.5;
  }

  .design {
    margin-bottom: 50px;
  }

  .about {
    text-align: center;
    padding-top: 100px;
    margin-bottom: 50px;
  }

  .about p {
    color: #4b5862;
  }

  .about h3 {
    font-size: 1.5em;
    font-weight: 600;
    margin-bottom: 50px;
    color: #1f3f5b;
  }

  .introduction,
  .robus {
    margin-bottom: 100px;
    padding: 0 50px;
    line-height: 1.5;
    text-align: center;
  }

  .infrastructure {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-image: url("/images/bg-pattern-circles.svg");
    background-repeat: no-repeat;
    background-position: 50% -250px;
    background-size: 650px;
    background-color: #2c2d3f;
    margin-top: 300px;
    border-radius: 0 110px 0 110px;
  }

  .infrastructureTxt {
    position: relative;
    top: -200px;
  }

  .infrastructureTxt h2 {
    color: white;
    font-size: 2em;
    text-align: center;
    margin-bottom: 20px;
  }

  .infrastructureTxt p {
    color: rgb(206, 206, 206);
    text-align: center;
    line-height: 1.5;
  }

  .infrastructure img {
    height: 440px;
    position: relative;
    top: -195px;
  }
}
