@media only screen and (max-width: 375px) {
  .intro {
    height: 100vh;
    width: 100%;
    background-image: url(../images/bg-pattern-intro-mobile.svg),
      linear-gradient(0deg, rgba(255, 61, 84, 1) 0%, rgba(255, 143, 112, 1) 50%);

    background-repeat: no-repeat;
    background-size: 1000px;
    background-position: 33% 23%;
  }

  .intro h1 {
  }

  .navigation {
    padding: 45px 20px;
    display: flex;
    justify-content: space-between;
  }
}
